[Unit]
Description=Serial to Socket Mux
After=network.target

[Service]
ExecStart=/usr/bin/ns-socket-server /dev/ttyUSB0
Restart=always
User=root

[Install]
WantedBy=multi-user.target
