[Unit]
Description=Serial to Socket Mux
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
ExecStart=/usr/bin/ns-serial-mux
Restart=always
RestartSec=5s

StateDirectory=ns
StateDirectoryMode=0777

[Install]
WantedBy=multi-user.target
