Package: ns-serial-mux-dbgsym
Source: ns-serial-mux
Version: 2.0.0
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 23
Depends: ns-serial-mux (= 2.0.0)
Section: debug
Priority: optional
Description: debug symbols for ns-serial-mux
Build-Ids: f45a3327a3389e001231202bfeedd463615c082e
