Package: ns-serial-mux-dbgsym
Package-Type: ddeb
Source: ns-serial-mux
Version: 2.0.10
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 22
Depends: ns-serial-mux (= 2.0.10)
Section: debug
Priority: optional
Description: debug symbols for ns-serial-mux
Build-Ids: 3b1f5eeefa296b2389d44394bb4a39ec40bbf31a
