Package: ns-serial-mux-dbgsym
Package-Type: ddeb
Source: ns-serial-mux
Version: 2.0.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 22
Depends: ns-serial-mux (= 2.0.4)
Section: debug
Priority: optional
Description: debug symbols for ns-serial-mux
Build-Ids: d75493e0718d6205d34e4149128af079f0ece55f
